<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appa"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="appA"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SecondActivity"
            android:label="appA"
            android:allowTaskReparenting="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.APP_A_SECOND_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>